<div ng-controller="AdminrLogin" style="height: 100%;overflow: hidden">
    <div ng-if="dataSource.isAuthorized()" adminr-container="'adminr-md-login-content'" style="height: 100%;overflow: hidden"></div>
    <div ng-if="!dataSource.isAuthorized()" style="background: #eeeeee;position:absolute;width:100%;height: 100%">
        <div style="max-width: 420px;margin:0 auto;" layout="column">
            <h2 style="text-align: center">Sign in to continue</h2>
            <md-card>
                <form ng-submit="authorize(username,password,rememberMe)">
                    <div layout-padding layout="column">
                        <md-input-container flex>
                            <label>Username</label>
                            <input type="text" ng-model="username" ng-disabled="authorizing" required autofocus>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Password</label>
                            <input type="password" ng-model="password" ng-disabled="authorizing" required>
                        </md-input-container>
                        <md-checkbox ng-model="rememberMe">remember me</md-checkbox>
                        <div layout="row">
                            <div flex></div>
                            <input type="submit" value="Sign in" class="md-button md-primary" />
                        </div>
                    </div>
                </form>
            </md-card>
        </div>
    </div>
</div>